body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'FZFengYKSJF_Xi';
  font-size: 4.25rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 {
  font-family: 'FZFengYKSJ_Zhun';
  font-size: 2.6rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 4.16rem;
}
.display-4 {
  font-family: 'FZFengYKSJ_Zhun';
  font-size: 1.8rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 2.88rem;
}
.display-5 {
  font-family: 'FZFengYKSJ_Zhun';
  font-size: 1.4rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 2.24rem;
}
.display-7 {
  font-family: 'Dengl';
  font-size: 1rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.08rem;
    font-size: calc( 1.56rem + (2.6 - 1.56) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.56rem + (2.6 - 1.56) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #149dcc !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #149dcc !important;
  border-color: #149dcc !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #3f9f9f !important;
  border-color: #3f9f9f !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #296868 !important;
  border-color: #296868 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #296868 !important;
  border-color: #296868 !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
  color: #3f3c03 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #0b566f;
  color: #0b566f;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #149dcc;
  border-color: #149dcc;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #149dcc !important;
  border-color: #149dcc !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #225656;
  color: #225656;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #3f9f9f;
  border-color: #3f9f9f;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #3f9f9f !important;
  border-color: #3f9f9f !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #3f3c03;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #149dcc !important;
}
.text-secondary {
  color: #3f9f9f !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #0b566f !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #225656 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #149dcc;
  border-color: #149dcc;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #149dcc;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b4e6f8;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Dengl';
  font-size: 1rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #149dcc;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.form2 .form-control {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.form2 .input-group-btn a.btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form2 .input-group-btn button[type="submit"] {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form3 input[type="email"] {
  border-radius: 100px !important;
}
@media (max-width: 349px) {
  .form2 input[type="email"] {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn a.btn {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
  }
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #149dcc;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #149dcc;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #149dcc;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #149dcc;
  border-bottom-color: #149dcc;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #149dcc !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #3f9f9f !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23149dcc' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-rVWgoBGI29 .navbar {
  padding: .5rem 0;
  background: #073b4c;
  transition: none;
  min-height: 77px;
}
.cid-rVWgoBGI29 .navbar-dropdown.bg-color.transparent.opened {
  background: #073b4c;
}
.cid-rVWgoBGI29 a {
  font-style: normal;
}
.cid-rVWgoBGI29 .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-rVWgoBGI29 .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-rVWgoBGI29 .nav-item:focus,
.cid-rVWgoBGI29 .nav-link:focus {
  outline: none;
}
.cid-rVWgoBGI29 .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rVWgoBGI29 .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-rVWgoBGI29 .menu-logo {
  margin-right: auto;
}
.cid-rVWgoBGI29 .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rVWgoBGI29 .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-rVWgoBGI29 .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-rVWgoBGI29 .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-rVWgoBGI29 .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-rVWgoBGI29 .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-rVWgoBGI29 .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-rVWgoBGI29 .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-rVWgoBGI29 .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-rVWgoBGI29 .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rVWgoBGI29 .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-rVWgoBGI29 .dropdown .dropdown-menu {
  background: #073b4c;
  visibility: hidden;
  display: block;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-rVWgoBGI29 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-rVWgoBGI29 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rVWgoBGI29 .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-rVWgoBGI29 .dropdown.open > .dropdown-menu {
  visibility: visible;
}
.cid-rVWgoBGI29 .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-rVWgoBGI29 .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-rVWgoBGI29 .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-rVWgoBGI29 .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-rVWgoBGI29 .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-rVWgoBGI29 .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-rVWgoBGI29 .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-rVWgoBGI29 button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-rVWgoBGI29 button.navbar-toggler:focus {
  outline: none;
}
.cid-rVWgoBGI29 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-rVWgoBGI29 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rVWgoBGI29 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rVWgoBGI29 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rVWgoBGI29 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rVWgoBGI29 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rVWgoBGI29 nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rVWgoBGI29 nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rVWgoBGI29 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rVWgoBGI29 .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rVWgoBGI29 .collapsed .btn {
  display: -webkit-flex;
}
.cid-rVWgoBGI29 .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-rVWgoBGI29 .collapsed .navbar-collapse.collapsing,
.cid-rVWgoBGI29 .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-rVWgoBGI29 .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-rVWgoBGI29 .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-rVWgoBGI29 .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-rVWgoBGI29 .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-rVWgoBGI29 .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
.cid-rVWgoBGI29 .collapsed .navbar-collapse.show .navbar-nav .nav-item:last-child {
  margin-bottom: 1rem;
}
.cid-rVWgoBGI29 .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-rVWgoBGI29 .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-rVWgoBGI29 .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-rVWgoBGI29 .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .cid-rVWgoBGI29 .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-rVWgoBGI29 .collapsed button.navbar-toggler {
  display: block;
}
.cid-rVWgoBGI29 .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-rVWgoBGI29 .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rVWgoBGI29 .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  overflow: hidden;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-rVWgoBGI29 .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-rVWgoBGI29 .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-rVWgoBGI29 .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 1023px) {
  .cid-rVWgoBGI29 .navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rVWgoBGI29 img {
    height: 3.8rem !important;
  }
  .cid-rVWgoBGI29 .btn {
    display: -webkit-flex;
  }
  .cid-rVWgoBGI29 button.navbar-toggler {
    display: block;
  }
  .cid-rVWgoBGI29 .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-rVWgoBGI29 .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rVWgoBGI29 .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-rVWgoBGI29 .navbar-collapse.collapsing,
  .cid-rVWgoBGI29 .navbar-collapse.show {
    display: block !important;
  }
  .cid-rVWgoBGI29 .navbar-collapse.collapsing .navbar-nav,
  .cid-rVWgoBGI29 .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-rVWgoBGI29 .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-rVWgoBGI29 .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-rVWgoBGI29 .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
  .cid-rVWgoBGI29 .navbar-collapse.show .navbar-nav .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .cid-rVWgoBGI29 .navbar-collapse.collapsing .navbar-buttons,
  .cid-rVWgoBGI29 .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-rVWgoBGI29 .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-rVWgoBGI29 .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-rVWgoBGI29 .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    overflow: hidden;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-rVWgoBGI29 .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-rVWgoBGI29 .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-rVWgoBGI29 .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-rVWgoBGI29 .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-rVWgoBGI29 .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-rVWgoBGI29 .nav-link:hover,
.cid-rVWgoBGI29 .dropdown-item:hover {
  color: #c1c1c1 !important;
}
.cid-rVg9WtZVVA {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/0.jpg");
}
.cid-rVg9WtZVVA .mbr-text,
.cid-rVg9WtZVVA .mbr-section-btn {
  text-align: left;
}
.cid-rVg9WtZVVA H3 {
  text-align: right;
}
.cid-rWBLl4ZQO1 {
  padding-top: 45px;
  padding-bottom: 30px;
  background-color: #b2ccd2;
}
.cid-rWBLl4ZQO1 .mbr-section-subtitle {
  color: #767676;
}
.cid-rWBLl4ZQO1 H2 {
  color: #073b4c;
}
.cid-rWBS9wT8Er {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rWBS9wT8Er .line {
  background-color: #149dcc;
  color: #149dcc;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-rWBS9wT8Er .section-text {
  padding: 2rem 0;
  text-align: left;
}
.cid-rWBS9wT8Er .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-rWBS9wT8Er .inner-container {
    width: 100% !important;
  }
}
.cid-rWBXOpXjjw {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rWBXOpXjjw .mbr-section-btn > * {
  margin: 0;
}
.cid-rWBXOpXjjw h4 {
  font-weight: 500;
}
.cid-rWBXOpXjjw p {
  color: #232323;
}
.cid-rWBXOpXjjw .aside-content {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cid-rWBXOpXjjw .block-content {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  word-break: break-word;
}
.cid-rWBXOpXjjw .media {
  margin: initial;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rWBXOpXjjw .mbr-figure {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-rWBXOpXjjw .card-img {
  padding-right: 2rem;
  width: auto;
}
.cid-rWBXOpXjjw .card-img span {
  font-size: 72px;
  color: #707070;
}
@media (min-width: 992px) {
  .cid-rWBXOpXjjw .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rWBXOpXjjw .mbr-figure {
    padding-right: 0;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 300px) {
  .cid-rWBXOpXjjw .card-img span {
    font-size: 40px !important;
  }
}
.cid-rWBXOpXjjw .cost {
  text-decoration: line-through;
  color: #767676;
}
.cid-rWC5nMSKFz {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rWC5nMSKFz .mbr-section-subtitle {
  color: #767676;
}
.cid-rWC6d37gBI {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rWC6d37gBI .mbr-text,
.cid-rWC6d37gBI blockquote {
  color: #767676;
}
.cid-rWC6d37gBI .mbr-text P {
  text-align: center;
}
.cid-rWC5fLTIVc {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rWC5fLTIVc h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-rWC5fLTIVc p {
  color: #767676;
  text-align: left;
}
.cid-rWC5fLTIVc .card-box {
  padding-top: 2rem;
}
.cid-rWC5fLTIVc .card-wrapper {
  height: 100%;
}
.cid-rWC94rOH0m {
  padding-top: 45px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rWC94rOH0m .mbr-section-btn > * {
  margin: 0;
}
.cid-rWC94rOH0m h4 {
  font-weight: 500;
}
.cid-rWC94rOH0m p {
  color: #232323;
}
.cid-rWC94rOH0m .aside-content {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cid-rWC94rOH0m .block-content {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  word-break: break-word;
}
.cid-rWC94rOH0m .media {
  margin: initial;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rWC94rOH0m .mbr-figure {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-rWC94rOH0m .card-img {
  padding-right: 2rem;
  width: auto;
}
.cid-rWC94rOH0m .card-img span {
  font-size: 72px;
  color: #707070;
}
@media (min-width: 992px) {
  .cid-rWC94rOH0m .mbr-figure {
    padding-right: 4rem;
    padding-right: 0;
    padding-left: 4rem;
  }
  .cid-rWC94rOH0m .media-container-row {
    -webkit-flex-direction: row-reverse;
  }
}
@media (max-width: 991px) {
  .cid-rWC94rOH0m .mbr-figure {
    padding-right: 0;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 1rem;
    margin-top: 2rem;
  }
  .cid-rWC94rOH0m .media-container-row {
    -webkit-flex-direction: column-reverse;
  }
}
@media (max-width: 300px) {
  .cid-rWC94rOH0m .card-img span {
    font-size: 40px !important;
  }
}
.cid-rWC94rOH0m .cost {
  text-decoration: line-through;
  color: #767676;
}
.cid-rWCbQCeATV {
  padding-top: 45px;
  padding-bottom: 30px;
  background-color: #b2ccd2;
}
.cid-rWCbQCeATV .mbr-section-subtitle {
  color: #767676;
}
.cid-rWCbQCeATV H2 {
  color: #073b4c;
}
.cid-rVWzruLtt3 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rVWzruLtt3 .line {
  background-color: #149dcc;
  color: #149dcc;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-rVWzruLtt3 .section-text {
  padding: 2rem 0;
  text-align: left;
}
.cid-rVWzruLtt3 .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-rVWzruLtt3 .inner-container {
    width: 100% !important;
  }
}
.cid-rW0kDBR3N0 {
  padding-top: 45px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rW0kDBR3N0 .mbr-section-btn > * {
  margin: 0;
}
.cid-rW0kDBR3N0 h4 {
  font-weight: 500;
}
.cid-rW0kDBR3N0 p {
  color: #232323;
}
.cid-rW0kDBR3N0 .aside-content {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cid-rW0kDBR3N0 .block-content {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  word-break: break-word;
}
.cid-rW0kDBR3N0 .media {
  margin: initial;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rW0kDBR3N0 .mbr-figure {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-rW0kDBR3N0 .card-img {
  padding-right: 2rem;
  width: auto;
}
.cid-rW0kDBR3N0 .card-img span {
  font-size: 72px;
  color: #707070;
}
@media (min-width: 992px) {
  .cid-rW0kDBR3N0 .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rW0kDBR3N0 .mbr-figure {
    padding-right: 0;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 300px) {
  .cid-rW0kDBR3N0 .card-img span {
    font-size: 40px !important;
  }
}
.cid-rW0kDBR3N0 .cost {
  text-decoration: line-through;
  color: #767676;
}
.cid-rVWDguKJgt {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rVWDguKJgt .mbr-section-subtitle {
  color: #767676;
}
.cid-rVWDbkFYMq {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 60px;
}
.cid-rVWDbkFYMq .image-block {
  margin: auto;
}
.cid-rVWDbkFYMq figcaption {
  position: relative;
}
.cid-rVWDbkFYMq figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-rVWDbkFYMq .image-block {
    width: 100% !important;
  }
}
.cid-rVWEqM7Xap {
  padding-top: 0px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-rVWEqM7Xap .mbr-text,
.cid-rVWEqM7Xap blockquote {
  color: #767676;
}
.cid-rVWEqM7Xap .mbr-text {
  color: #232323;
}
.cid-rWCeOwA7rq {
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rWCeOwA7rq .mbr-section-subtitle {
  color: #767676;
  font-weight: 300;
}
.cid-rWCeOwA7rq .mbr-content-text {
  color: #232323;
  margin-bottom: 0;
}
.cid-rWCeOwA7rq .card {
  word-wrap: break-word;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
.cid-rWCeOwA7rq .img-text {
  width: 62px;
  height: 62px;
  font-size: 31px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  color: #465052;
}
@media (max-width: 991px) {
  .cid-rWCeOwA7rq .img-text {
    width: 48px;
    height: 48px;
    font-size: 24px;
  }
}
.cid-rWCeOwA7rq .cards-container {
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  word-break: break-word;
}
.cid-rWCeOwA7rq .media-block {
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
@media (min-width: 992px) {
  .cid-rWCeOwA7rq .media-block {
    padding-right: 2rem;
  }
}
.cid-rWCeOwA7rq .cards-block {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
@media (max-width: 991px) {
  .cid-rWCeOwA7rq .media-block {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
    padding-left: 0;
    padding-bottom: 2rem;
  }
}
.cid-rVWGEx40d8 {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rVWGEx40d8 .mbr-section-subtitle {
  color: #767676;
}
.cid-rZg1eme7Z7 {
  background: #ffffff;
  padding-top: 90px;
  padding-bottom: 60px;
}
.cid-rZg1eme7Z7 .image-block {
  margin: auto;
}
.cid-rZg1eme7Z7 figcaption {
  position: relative;
}
.cid-rZg1eme7Z7 figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-rZg1eme7Z7 .image-block {
    width: 100% !important;
  }
}
.cid-rZlnOyAFoq {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rZlnOyAFoq .mbr-text,
.cid-rZlnOyAFoq blockquote {
  color: #767676;
}
.cid-rZlnOyAFoq .mbr-text {
  color: #232323;
}
.cid-rWCibwrozo {
  padding-top: 45px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rWCibwrozo .mbr-section-btn > * {
  margin: 0;
}
.cid-rWCibwrozo h4 {
  font-weight: 500;
}
.cid-rWCibwrozo p {
  color: #232323;
}
.cid-rWCibwrozo .aside-content {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cid-rWCibwrozo .block-content {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  word-break: break-word;
}
.cid-rWCibwrozo .media {
  margin: initial;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rWCibwrozo .mbr-figure {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-rWCibwrozo .card-img {
  padding-right: 2rem;
  width: auto;
}
.cid-rWCibwrozo .card-img span {
  font-size: 72px;
  color: #707070;
}
@media (min-width: 992px) {
  .cid-rWCibwrozo .mbr-figure {
    padding-right: 4rem;
    padding-right: 0;
    padding-left: 4rem;
  }
  .cid-rWCibwrozo .media-container-row {
    -webkit-flex-direction: row-reverse;
  }
}
@media (max-width: 991px) {
  .cid-rWCibwrozo .mbr-figure {
    padding-right: 0;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 1rem;
    margin-top: 2rem;
  }
  .cid-rWCibwrozo .media-container-row {
    -webkit-flex-direction: column-reverse;
  }
}
@media (max-width: 300px) {
  .cid-rWCibwrozo .card-img span {
    font-size: 40px !important;
  }
}
.cid-rWCibwrozo .cost {
  text-decoration: line-through;
  color: #767676;
}
.cid-s00vVlmG4i {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-s00vVlmG4i .mbr-section-subtitle {
  color: #767676;
}
.cid-s00vLSFQKw {
  background: #ffffff;
  padding-top: 30px;
  padding-bottom: 60px;
}
.cid-s00vLSFQKw .image-block {
  margin: auto;
}
.cid-s00vLSFQKw figcaption {
  position: relative;
}
.cid-s00vLSFQKw figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-s00vLSFQKw .image-block {
    width: 100% !important;
  }
}
.cid-s00vNJKFrH {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-s00vNJKFrH .mbr-text,
.cid-s00vNJKFrH blockquote {
  color: #767676;
}
.cid-s00vNJKFrH .mbr-text {
  color: #232323;
}
.cid-rVWZujr3Kf {
  padding-top: 45px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rVWZujr3Kf .mbr-section-subtitle {
  color: #767676;
}
.cid-rZlQSrxRJG {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-rZlQSrxRJG .mbr-section-subtitle {
  color: #767676;
}
.cid-rZlQP2Yv4P {
  background: #ffffff;
  padding-top: 30px;
  padding-bottom: 60px;
}
.cid-rZlQP2Yv4P .image-block {
  margin: auto;
}
.cid-rZlQP2Yv4P figcaption {
  position: relative;
}
.cid-rZlQP2Yv4P figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-rZlQP2Yv4P .image-block {
    width: 100% !important;
  }
}
.cid-rZlQZNi3Ia {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rZlQZNi3Ia .mbr-text,
.cid-rZlQZNi3Ia blockquote {
  color: #767676;
}
.cid-rZlQZNi3Ia .mbr-text {
  color: #232323;
}
.cid-rWCokTPNSP {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rWCokTPNSP .mbr-section-subtitle {
  color: #767676;
}
.cid-rZlSPo3e6a {
  padding-top: 30px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-rZlSPo3e6a h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-rZlSPo3e6a p {
  color: #767676;
  text-align: left;
}
.cid-rZlSPo3e6a .card-box {
  padding-top: 2rem;
}
.cid-rZlSPo3e6a .card-wrapper {
  height: 100%;
}
.cid-rZlYvD98pN {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rZlYvD98pN .mbr-text,
.cid-rZlYvD98pN blockquote {
  color: #767676;
}
.cid-rZlYvD98pN .mbr-text {
  color: #232323;
}
.cid-rViHBkq5z1 {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rViHBkq5z1 .mbr-section-subtitle {
  color: #767676;
}
.cid-rWCqDB5n4f {
  padding-top: 60px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-rWCqDB5n4f .mbr-section-subtitle {
  color: #767676;
}
.cid-rWCqpaSvd2 {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rWCqpaSvd2 h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-rWCqpaSvd2 p {
  color: #767676;
  text-align: left;
}
.cid-rWCqpaSvd2 .card-box {
  padding-top: 2rem;
}
.cid-rWCqpaSvd2 .card-wrapper {
  height: 100%;
}
.cid-rWCqVDXTs0 {
  padding-top: 15px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rWCqVDXTs0 .mbr-text,
.cid-rWCqVDXTs0 blockquote {
  color: #767676;
}
.cid-rWCqVDXTs0 .mbr-text {
  color: #232323;
}
.cid-rWCs8DybX4 {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-rWCs8DybX4 .mbr-section-subtitle {
  color: #767676;
}
.cid-rZlUR6aGJV {
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}
.cid-rZlUR6aGJV .image-block {
  margin: auto;
}
.cid-rZlUR6aGJV figcaption {
  position: relative;
}
.cid-rZlUR6aGJV figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-rZlUR6aGJV .image-block {
    width: 100% !important;
  }
}
.cid-rVXtkO8MHN {
  padding-top: 15px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rVXtkO8MHN .mbr-text,
.cid-rVXtkO8MHN blockquote {
  color: #767676;
}
.cid-rVXtkO8MHN .mbr-text {
  color: #232323;
}
.cid-rXb9B9B0eM {
  padding-top: 45px;
  padding-bottom: 30px;
  background-color: #b2ccd2;
}
.cid-rXb9B9B0eM .mbr-section-subtitle {
  color: #767676;
}
.cid-rXb9B9B0eM H2 {
  color: #073b4c;
}
.cid-rXbb13H7av {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rXbb13H7av .line {
  background-color: #149dcc;
  color: #149dcc;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-rXbb13H7av .section-text {
  padding: 2rem 0;
  text-align: left;
}
.cid-rXbb13H7av .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-rXbb13H7av .inner-container {
    width: 100% !important;
  }
}
.cid-rXbsRGOQC7 {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-rXbsRGOQC7 .mbr-section-subtitle {
  color: #767676;
}
.cid-rXbsPgTgLh {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-rXbsPgTgLh h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-rXbsPgTgLh p {
  color: #767676;
  text-align: left;
}
.cid-rXbsPgTgLh .card-box {
  padding-top: 2rem;
}
.cid-rXbsPgTgLh .card-wrapper {
  height: 100%;
}
.cid-rXbubxfgVr {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rXbubxfgVr .mbr-text,
.cid-rXbubxfgVr blockquote {
  color: #767676;
}
.cid-rXbubxfgVr .mbr-text {
  color: #232323;
}
.cid-s18b9toPrH {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-s18b9toPrH .mbr-section-subtitle {
  color: #767676;
  font-weight: 300;
}
.cid-s18b9toPrH .mbr-content-text {
  color: #232323;
  margin-bottom: 0;
}
.cid-s18b9toPrH .card {
  word-wrap: break-word;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
.cid-s18b9toPrH .img-text {
  width: 20px;
  height: 20px;
  font-size: 10px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  color: #465052;
}
.cid-s18b9toPrH .cards-container {
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  word-break: break-word;
}
.cid-s18b9toPrH .media-block {
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
@media (min-width: 992px) {
  .cid-s18b9toPrH .media-block {
    padding-right: 2rem;
  }
}
.cid-s18b9toPrH .cards-block {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
@media (max-width: 991px) {
  .cid-s18b9toPrH .media-block {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
    padding-left: 0;
    padding-bottom: 2rem;
  }
}
.cid-s18f0OEtXL {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-s18f0OEtXL .mbr-section-subtitle {
  color: #767676;
}
.cid-s18f0OEtXL H2 {
  text-align: center;
}
.cid-s18n1b8o9c {
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-s18n1b8o9c .mbr-section-subtitle {
  color: #767676;
  font-weight: 300;
}
.cid-s18n1b8o9c .mbr-content-text {
  color: #232323;
  margin-bottom: 0;
}
.cid-s18n1b8o9c .card {
  word-wrap: break-word;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
.cid-s18n1b8o9c .img-text {
  width: 20px;
  height: 20px;
  font-size: 10px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  color: #465052;
}
.cid-s18n1b8o9c .cards-container {
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  word-break: break-word;
}
.cid-s18n1b8o9c .media-block {
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
@media (min-width: 992px) {
  .cid-s18n1b8o9c .media-block {
    padding-right: 2rem;
  }
}
.cid-s18n1b8o9c .cards-block {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
@media (max-width: 991px) {
  .cid-s18n1b8o9c .media-block {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
    padding-left: 0;
    padding-bottom: 2rem;
  }
}
.cid-s18pLpi73w {
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-s18pLpi73w .mbr-section-subtitle {
  color: #767676;
  font-weight: 300;
}
.cid-s18pLpi73w .mbr-content-text {
  color: #232323;
  margin-bottom: 0;
}
.cid-s18pLpi73w .card {
  word-wrap: break-word;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
.cid-s18pLpi73w .img-text {
  width: 20px;
  height: 20px;
  font-size: 10px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  color: #465052;
}
.cid-s18pLpi73w .cards-container {
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  word-break: break-word;
}
.cid-s18pLpi73w .media-block {
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
@media (min-width: 992px) {
  .cid-s18pLpi73w .media-block {
    padding-left: 2rem;
  }
}
.cid-s18pLpi73w .cards-block {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
@media (max-width: 991px) {
  .cid-s18pLpi73w .media-block {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
    padding-left: 0;
    padding-bottom: 2rem;
  }
}
.cid-s18pLpi73w .media-container-row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.cid-s17mgkg0dl {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-s17mgkg0dl .mbr-section-subtitle {
  color: #767676;
}
.cid-s17mgkg0dl H2 {
  text-align: center;
}
.cid-s17qssWE6X {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-s17qssWE6X .mbr-text,
.cid-s17qssWE6X blockquote {
  color: #767676;
}
.cid-s17qssWE6X .mbr-text {
  color: #232323;
}
.cid-rXbEk63Ptu {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-rXbEk63Ptu .mbr-section-subtitle {
  color: #767676;
  text-align: right;
  font-weight: 300;
}
.cid-rXbEk63Ptu .timeline-text-content {
  padding: 2rem 2.5rem;
  background: #efefef;
  margin-left: 2rem;
}
.cid-rXbEk63Ptu .timeline-text-content p {
  margin-bottom: 0;
}
.cid-rXbEk63Ptu .time-line-date-content {
  margin-right: 2rem;
}
.cid-rXbEk63Ptu .time-line-date-content p {
  padding: 2rem 2.5rem;
  background: #efefef;
  float: right;
}
.cid-rXbEk63Ptu .timeline-element {
  margin-bottom: 50px;
  position: relative;
  word-wrap: break-word;
  word-break: break-word;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}
.cid-rXbEk63Ptu .timeline-element:hover .mbr-timeline-date {
  box-shadow: 0 7px 20px 0px rgba(0, 0, 0, 0.08);
  transition: all .4s;
}
.cid-rXbEk63Ptu .timeline-element:hover .timeline-text-content {
  box-shadow: 0 7px 20px 0px rgba(0, 0, 0, 0.08);
  transition: all .4s;
}
.cid-rXbEk63Ptu .mbr-timeline-date,
.cid-rXbEk63Ptu .timeline-text-content {
  transition: all .4s;
}
.cid-rXbEk63Ptu .reverse {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
.cid-rXbEk63Ptu .reverse .timeline-text-content {
  margin-right: 2rem;
  margin-left: 0;
}
.cid-rXbEk63Ptu .reverse .time-line-date-content {
  margin-left: 2rem;
  margin-right: 0rem;
}
.cid-rXbEk63Ptu .reverse .time-line-date-content p {
  float: left;
}
.cid-rXbEk63Ptu .iconBackground {
  position: absolute;
  left: 50%;
  width: 20px;
  height: 20px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 30px;
  display: inline-block;
  background-color: #efefef;
  top: 20px;
  margin-left: -10px;
}
.cid-rXbEk63Ptu .separline:before {
  top: 20px;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #efefef;
  left: calc(50% - 1px);
  height: calc(100% + 4rem);
}
@media (max-width: 768px) {
  .cid-rXbEk63Ptu .iconBackground {
    left: 0 !important;
  }
  .cid-rXbEk63Ptu .separline:before {
    left: 0!important;
  }
  .cid-rXbEk63Ptu .timeline-text-content {
    margin-left: 0 !important;
  }
  .cid-rXbEk63Ptu .time-line-date-content {
    margin-right: 0 !important;
  }
  .cid-rXbEk63Ptu .time-line-date-content p {
    float: left !important;
  }
  .cid-rXbEk63Ptu .reverse .time-line-date-content {
    margin-left: 0 !important;
  }
  .cid-rXbEk63Ptu .reverse .timeline-text-content {
    margin-right: 0 !important;
  }
}
.cid-rXbEk63Ptu .reverseTimeline {
  display: flex;
  flex-direction: column-reverse;
}
.cid-rXbEk63Ptu .mbr-timeline-text {
  text-align: left;
}
.cid-rXbEk63Ptu .mbr-timeline-title {
  text-align: left;
  color: #c1c1c1;
}
.cid-s17zTVfGB2 {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-s17zTVfGB2 .mbr-section-subtitle {
  color: #767676;
}
.cid-s17zTVfGB2 H2 {
  text-align: center;
}
.cid-s17I57ZKu2 {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-s17I57ZKu2 .mbr-section-subtitle {
  color: #767676;
  font-weight: 300;
}
.cid-s17I57ZKu2 .mbr-content-text {
  color: #232323;
  margin-bottom: 0;
}
.cid-s17I57ZKu2 .card {
  word-wrap: break-word;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
.cid-s17I57ZKu2 .img-text {
  width: 20px;
  height: 20px;
  font-size: 10px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  color: #465052;
}
.cid-s17I57ZKu2 .cards-container {
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  word-break: break-word;
}
.cid-s17I57ZKu2 .media-block {
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
@media (min-width: 992px) {
  .cid-s17I57ZKu2 .media-block {
    padding-left: 2rem;
  }
}
.cid-s17I57ZKu2 .cards-block {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
@media (max-width: 991px) {
  .cid-s17I57ZKu2 .media-block {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
    padding-left: 0;
    padding-bottom: 2rem;
  }
}
.cid-s17I57ZKu2 .media-container-row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.cid-s17FqpghD9 {
  padding-top: 15px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-s17FqpghD9 .mbr-section-subtitle {
  color: #767676;
  font-weight: 300;
}
.cid-s17FqpghD9 .mbr-content-text {
  color: #232323;
  margin-bottom: 0;
}
.cid-s17FqpghD9 .card {
  word-wrap: break-word;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
.cid-s17FqpghD9 .img-text {
  width: 20px;
  height: 20px;
  font-size: 10px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  color: #465052;
}
.cid-s17FqpghD9 .cards-container {
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  word-break: break-word;
}
.cid-s17FqpghD9 .media-block {
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
@media (min-width: 992px) {
  .cid-s17FqpghD9 .media-block {
    padding-right: 2rem;
  }
}
.cid-s17FqpghD9 .cards-block {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
@media (max-width: 991px) {
  .cid-s17FqpghD9 .media-block {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
    padding-left: 0;
    padding-bottom: 2rem;
  }
}
.cid-s17R8JREIW {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #efefef;
}
.cid-s17R8JREIW .mbr-section-subtitle {
  color: #767676;
}
.cid-s17R8JREIW H2 {
  text-align: center;
}
.cid-rXh3XlUhB4 {
  padding-top: 60px;
  padding-bottom: 75px;
  position: relative;
  background-color: #ffffff;
}
.cid-rXh3XlUhB4 .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-rXh3XlUhB4 .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-rXh3XlUhB4 .card .card-header a.panel-title {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: block;
  text-decoration: none !important;
  margin-top: -1px;
  line-height: normal;
}
.cid-rXh3XlUhB4 .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-rXh3XlUhB4 .card .card-header a.panel-title h4 {
  padding: 1.3rem 2rem;
  border: 1px solid #dfdfdf;
  margin-bottom: 0;
}
.cid-rXh3XlUhB4 .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-rXh3XlUhB4 .card .panel-body {
  color: #767676;
}
.cid-rXh3XlUhB4 H2 {
  text-align: left;
  color: #232323;
}
.cid-rW0HFwKwoi {
  padding-top: 30px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-rVWgujgqDI {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #2e2e2e;
}
